/* TYPEFACES
-------------------------------------------------------------------------------------------*/
/* TEXT STYLES
-------------------------------------------------------------------------------------------*/
/* CSS
-------------------------------------------------------------------------------------------*/
/* FLEX
------------------------------------------------------------------------------------------*/
/* KEYFRAMES
-------------------------------------------------------------------------------------------*/
/* ANIMATION
-------------------------------------------------------------------------------------------*/
/* GLOBAL
-------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1020px) {
  .wrap {
    max-width: 1000px;
  }
}
@media only screen and (min-width: 1340px) {
  .wrap {
    width: 100%;
    padding: 0;
    max-width: 1040px;
  }
}

.button {
  z-index: 9999;
}
.button.but-fixed {
  position: absolute;
  top: 41px;
  right: 52px;
  border-color: rgba(255, 255, 255, 0.15);
  background: #27292D;
  z-index: 8888;
}

/* FIXED
-------------------------------------------------------------------------------------------*/
.download-text {
  font-family: "Inter", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 44px;
  position: fixed;
  top: 40px;
  right: 152px;
}

.download-but {
  display: flex;
  position: fixed;
  top: 40px;
  right: 40px;
  padding: 0;
  width: 96px;
  z-index: 9999;
}

/* SECTIONS
-------------------------------------------------------------------------------------------*/
.hero {
  padding-top: 40px;
}
.hero img {
  width: 100%;
}
.hero .intro {
  margin: 56px 0 72px 0;
  height: 84px;
}
.hero .download-mobile {
  display: none;
}

.mod {
  padding: 80px 0;
}
.mod .wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mod .col {
  width: 42%;
}
.mod .col.feature {
  align-content: flex-end;
}
.mod img {
  width: auto;
  max-width: none;
  height: 100%;
  max-height: 700px;
  margin-top: 0;
}
.mod h3 .line1 {
  font-size: 32px;
  line-height: 28px;
}
.mod p {
  margin: 16px 0 0 0;
}
.mod:nth-child(even) .phone {
  order: 1;
}
.mod:nth-child(even) .feature {
  order: 2;
}
.mod.matches .feature {
  align-content: flex-start;
}
.mod.explore .phone {
  width: 52%;
}

/* SVG WORDS
-------------------------------------------------------------------------------------------*/
h3, p, img {
  z-index: 1;
  position: relative;
}

.hero, .mod {
  position: relative;
}

.two-words {
  display: inherit;
  position: absolute;
  top: 460px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.two-words .word {
  margin-bottom: 40px;
}

.single-word {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}

.word {
  display: block;
  background-size: contain;
  z-index: 0;
}

.word-personal {
  width: 1183px;
  height: 206px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 1183 206' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m68.998 136.96h-14.72v64.96h-53.76v-198.72h64.96c22.827 0 39.786 5.2267 50.88 15.68 11.093 10.453 16.64 27.627 16.64 51.52s-5.227 40.96-15.68 51.2c-10.454 10.24-26.56 15.36-48.32 15.36zm6.08-43.2c1.92-3.6267 2.88-10.133 2.88-19.52s-1.0667-16-3.2-19.84c-2.1334-3.84-6.4-5.76-12.8-5.76h-7.68v50.56h8.96c5.9733 0 9.92-1.8133 11.84-5.44z' fill='%23fff'/%3E%3Cpath d='m256.48 201.92h-107.52v-198.72h110.72l-3.2 48.96h-52.8v29.76h45.76v42.24h-45.76v32.96h56l-3.2 44.8z' fill='%23fff'/%3E%3Cpath d='m414.33 66.24c0 11.947-1.813 21.867-5.44 29.76-3.627 7.893-9.28 15.04-16.96 21.44l26.56 84.48h-59.2l-19.84-71.68h-7.36v71.68h-53.76v-198.72h74.24c21.333 0 36.907 5.0133 46.72 15.04 10.027 10.027 15.04 26.027 15.04 48zm-73.92 30.4c5.547 0 9.493-1.6 11.84-4.8s3.52-8.96 3.52-17.28c0-8.5333-1.173-14.4-3.52-17.6-2.347-3.4133-6.187-5.12-11.52-5.12h-8.64v44.8h8.32z' fill='%23fff'/%3E%3Cpath d='m427.5 63.04c0-18.987 5.547-34.24 16.64-45.76s26.24-17.28 45.44-17.28c19.413 0 39.253 1.92 59.52 5.76l-6.4 51.2c-21.12-4.9067-35.627-7.36-43.52-7.36-10.027 0-15.04 4.0533-15.04 12.16 0 3.2 2.347 6.2933 7.04 9.28 4.907 2.9867 10.773 6.1867 17.6 9.6 6.827 3.2 13.653 7.1467 20.48 11.84 6.827 4.48 12.587 10.987 17.28 19.52 4.907 8.533 7.36 18.347 7.36 29.44 0 20.267-5.44 35.947-16.32 47.04s-26.347 16.64-46.4 16.64c-19.84 0-39.253-3.093-58.24-9.28l3.52-47.68c22.827 6.613 38.72 9.92 47.68 9.92s13.44-3.947 13.44-11.84c0-4.053-2.453-7.787-7.36-11.2-4.693-3.413-10.453-6.827-17.28-10.24s-13.76-7.36-20.8-11.84c-6.827-4.48-12.693-10.987-17.6-19.52-4.693-8.5333-7.04-18.667-7.04-30.4z' fill='%23fff'/%3E%3Cpath d='m584.86 24c12.373-16 32.533-24 60.48-24 27.946 0 47.893 7.8933 59.84 23.68 12.16 15.787 18.24 41.493 18.24 77.12 0 35.413-6.187 61.653-18.56 78.72-12.374 17.067-32.427 25.6-60.16 25.6-27.734 0-47.68-8.427-59.84-25.28s-18.24-42.987-18.24-78.4c0-35.627 6.08-61.44 18.24-77.44zm83.52 76.8c0-19.627-1.6-32.853-4.8-39.68-2.987-7.04-9.28-10.56-18.88-10.56-9.387 0-15.467 3.52-18.24 10.56-2.774 6.8267-4.16 19.947-4.16 39.36v7.68c0 20.693 1.493 34.347 4.48 40.96 3.2 6.4 9.493 9.6 18.88 9.6 9.6 0 15.786-3.093 18.56-9.28 2.773-6.187 4.16-18.987 4.16-38.4v-10.24z' fill='%23fff'/%3E%3Cpath d='m890.16 201.92h-52.48l-41.28-92.48h-2.56v92.48h-48.64v-198.72h54.08l39.36 95.36h2.56v-95.36h48.96v198.72z' fill='%23fff'/%3E%3Cpath d='m1061 201.92h-53.44l-6.08-31.36h-37.76l-6.08 31.36h-50.88l36.48-198.72h81.28l36.48 198.72zm-65.6-68.8-11.2-71.04h-2.24l-11.2 71.04h24.64z' fill='%23fff'/%3E%3Cpath d='m1178.8 201.92h-101.12v-198.72h54.72v154.24h49.6l-3.2 44.48z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.word-coaching {
  width: 1177px;
  height: 206px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 1177 206' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m56.391 104.76c0 18.773 1.8134 32.213 5.44 40.32 3.84 7.893 10.027 11.84 18.56 11.84 8.5334 0 20.587-2.027 36.16-6.08l8.32 45.12c-16.853 6.187-33.813 9.28-50.88 9.28-25.6 0-44.267-8.427-56-25.28-11.52-17.067-17.28-42.347-17.28-75.84 0-33.706 6.08-59.413 18.24-77.12 12.16-17.92 32-26.88 59.52-26.88 16.213 0 31.68 3.4133 46.4 10.24l-8.64 49.6c-16.64-5.5466-28.267-8.32-34.88-8.32-9.3866 0-15.893 4.16-19.52 12.48-3.6266 8.1067-5.44 21.653-5.44 40.64z' fill='%23fff'/%3E%3Cpath d='m150.2 24.12c12.373-16 32.533-24 60.48-24s47.893 7.8933 59.84 23.68c12.16 15.787 18.24 41.493 18.24 77.12 0 35.413-6.187 61.653-18.56 78.72s-32.427 25.6-60.16 25.6-47.68-8.427-59.84-25.28-18.24-42.987-18.24-78.4c0-35.627 6.08-61.44 18.24-77.44zm83.52 76.8c0-19.626-1.6-32.853-4.8-39.68-2.987-7.04-9.28-10.56-18.88-10.56-9.387 0-15.467 3.52-18.24 10.56-2.773 6.8267-4.16 19.947-4.16 39.36v7.68c0 20.693 1.493 34.347 4.48 40.96 3.2 6.4 9.493 9.6 18.88 9.6 9.6 0 15.787-3.093 18.56-9.28s4.16-18.987 4.16-38.4v-10.24z' fill='%23fff'/%3E%3Cpath d='m453.27 202.04h-53.44l-6.08-31.36h-37.76l-6.08 31.36h-50.88l36.48-198.72h81.28l36.48 198.72zm-65.6-68.8-11.2-71.04h-2.24l-11.2 71.04h24.64z' fill='%23fff'/%3E%3Cpath d='m519.2 104.76c0 18.773 1.814 32.213 5.44 40.32 3.84 7.893 10.027 11.84 18.56 11.84 8.534 0 20.587-2.027 36.16-6.08l8.32 45.12c-16.853 6.187-33.813 9.28-50.88 9.28-25.6 0-44.266-8.427-56-25.28-11.52-17.067-17.28-42.347-17.28-75.84 0-33.706 6.08-59.413 18.24-77.12 12.16-17.92 32-26.88 59.52-26.88 16.214 0 31.68 3.4133 46.4 10.24l-8.64 49.6c-16.64-5.5466-28.266-8.32-34.88-8.32-9.386 0-15.893 4.16-19.52 12.48-3.626 8.1067-5.44 21.653-5.44 40.64z' fill='%23fff'/%3E%3Cpath d='m748.05 202.04h-54.4v-75.2h-37.44v75.2h-55.04v-198.72h55.04v78.08h37.44v-78.08h54.4v198.72z' fill='%23fff'/%3E%3Cpath d='m832.52 202.04h-54.4v-198.72h54.4v198.72z' fill='%23fff'/%3E%3Cpath d='m1009 202.04h-52.484l-41.28-92.48h-2.56v92.48h-48.64v-198.72h54.08l39.36 95.36h2.56v-95.36h48.964v198.72z' fill='%23fff'/%3E%3Cpath d='m1156.8 62.52c-20.48-6.1866-35.52-9.28-45.12-9.28-9.39 0-15.89 4.16-19.52 12.48-3.41 8.32-5.12 21.547-5.12 39.68 0 17.92 1.6 31.04 4.8 39.36 3.41 8.107 10.24 12.16 20.48 12.16 2.99 0 8.75-0.853 17.28-2.56v-24.32h-14.4v-37.76h61.12v109.76h-37.76l-5.12-10.24h-1.28c-3.63 2.987-6.51 5.227-8.64 6.72-5.97 4.48-14.4 6.72-25.28 6.72-44.59 0-66.88-33.707-66.88-101.12 0-33.706 5.87-59.413 17.6-77.12 11.73-17.92 31.47-26.88 59.2-26.88 22.19 0 41.28 3.4133 57.28 10.24l-8.64 52.16z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.word-reviews {
  width: 1003px;
  height: 206px;
  opacity: 0.03;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 1003 206' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m136 66.24c0 11.947-1.813 21.867-5.44 29.76-3.627 7.893-9.28 15.04-16.96 21.44l26.56 84.48h-59.2l-19.84-71.68h-7.36v71.68h-53.76v-198.72h74.24c21.333 0 36.907 5.0133 46.72 15.04 10.027 10.027 15.04 26.027 15.04 48zm-73.92 30.4c5.5467 0 9.4933-1.6 11.84-4.8s3.52-8.96 3.52-17.28c0-8.5333-1.1733-14.4-3.52-17.6-2.3467-3.4133-6.1867-5.12-11.52-5.12h-8.64v44.8h8.32z' fill='%23fff'/%3E%3Cpath d='m265.64 201.92h-107.52v-198.72h110.72l-3.2 48.96h-52.8v29.76h45.76v42.24h-45.76v32.96h56l-3.2 44.8z' fill='%23fff'/%3E%3Cpath d='m431.18 3.2-33.6 198.72h-84.48l-35.84-198.72h60.48l17.28 130.24h5.44l13.12-130.24h57.6z' fill='%23fff'/%3E%3Cpath d='m506.66 201.92h-54.4v-198.72h54.4v198.72z' fill='%23fff'/%3E%3Cpath d='m645.64 201.92h-107.52v-198.72h110.72l-3.2 48.96h-52.8v29.76h45.76v42.24h-45.76v32.96h56l-3.2 44.8z' fill='%23fff'/%3E%3Cpath d='m864.94 3.2-17.92 198.72h-65.92l-17.28-88h-2.56l-14.4 88h-66.24l-20.8-198.72h52.48l8.32 105.28h3.2l13.44-105.28h53.44l14.72 105.28h3.2l5.76-105.28h50.56z' fill='%23fff'/%3E%3Cpath d='m876.35 63.04c0-18.987 5.547-34.24 16.64-45.76 11.094-11.52 26.24-17.28 45.44-17.28 19.414 0 39.254 1.92 59.521 5.76l-6.401 51.2c-21.12-4.9067-35.626-7.36-43.52-7.36-10.026 0-15.04 4.0533-15.04 12.16 0 3.2 2.347 6.2933 7.04 9.28 4.907 2.9867 10.774 6.1867 17.601 9.6 6.826 3.2 13.653 7.1467 20.479 11.84 6.827 4.48 12.587 10.987 17.281 19.52 4.907 8.533 7.357 18.347 7.357 29.44 0 20.267-5.438 35.947-16.318 47.04s-26.346 16.64-46.4 16.64c-19.84 0-39.253-3.093-58.24-9.28l3.52-47.68c22.827 6.613 38.72 9.92 47.68 9.92s13.44-3.947 13.44-11.84c0-4.053-2.453-7.787-7.359-11.2-4.694-3.413-10.454-6.827-17.281-10.24-6.826-3.413-13.76-7.36-20.8-11.84-6.826-4.48-12.693-10.987-17.6-19.52-4.693-8.5333-7.04-18.667-7.04-30.4z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.word-improve {
  width: 1056px;
  height: 206px;
  opacity: 0.03;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 1056 206' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.4 201.92H0V3.2H54.4V201.92Z' fill='%23fff'/%3E%3Cpath d='m278.18 201.92h-50.24v-103.68h-2.88l-18.88 103.68h-51.52l-17.92-103.68h-3.201v103.68h-49.6l6.72-198.72h72l17.92 107.52h2.56l17.28-107.52h71.039l6.721 198.72z' fill='%23fff'/%3E%3Cpath d='m372.78 136.96h-14.72v64.96h-53.76v-198.72h64.96c22.827 0 39.787 5.2267 50.88 15.68 11.093 10.453 16.64 27.627 16.64 51.52s-5.227 40.96-15.68 51.2-26.56 15.36-48.32 15.36zm6.08-43.2c1.92-3.6267 2.88-10.133 2.88-19.52s-1.067-16-3.2-19.84-6.4-5.76-12.8-5.76h-7.68v50.56h8.96c5.973 0 9.92-1.8133 11.84-5.44z' fill='%23fff'/%3E%3Cpath d='m588.74 66.24c0 11.947-1.813 21.867-5.44 29.76-3.626 7.893-9.28 15.04-16.96 21.44l26.56 84.48h-59.2l-19.84-71.68h-7.359v71.68h-53.761v-198.72h74.24c21.334 0 36.907 5.0133 46.72 15.04 10.027 10.027 15.04 26.027 15.04 48zm-73.92 30.4c5.547 0 9.494-1.6 11.84-4.8 2.347-3.2 3.52-8.96 3.52-17.28 0-8.5333-1.173-14.4-3.52-17.6-2.346-3.4133-6.186-5.12-11.52-5.12h-8.639v44.8h8.319z' fill='%23fff'/%3E%3Cpath d='m622.7 24c12.374-16 32.534-24 60.48-24 27.947 0 47.894 7.8933 59.84 23.68 12.16 15.787 18.24 41.493 18.24 77.12 0 35.413-6.186 61.653-18.56 78.72-12.373 17.067-32.426 25.6-60.16 25.6-27.733 0-47.68-8.427-59.84-25.28s-18.24-42.987-18.24-78.4c0-35.627 6.08-61.44 18.24-77.44zm83.52 76.8c0-19.627-1.6-32.853-4.8-39.68-2.986-7.04-9.28-10.56-18.88-10.56-9.386 0-15.466 3.52-18.24 10.56-2.773 6.8267-4.16 19.947-4.16 39.36v7.68c0 20.693 1.494 34.347 4.48 40.96 3.2 6.4 9.494 9.6 18.881 9.6 9.599 0 15.786-3.093 18.559-9.28 2.774-6.187 4.16-18.987 4.16-38.4v-10.24z' fill='%23fff'/%3E%3Cpath d='m926.73 3.2-33.6 198.72h-84.48l-35.84-198.72h60.48l17.28 130.24h5.44l13.12-130.24h57.6z' fill='%23fff'/%3E%3Cpath d='m1052.1 201.92h-107.52v-198.72h110.72l-3.2 48.96h-52.798v29.76h45.758v42.24h-45.758v32.96h55.998l-3.2 44.8z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.word-learn {
  width: 708px;
  height: 199px;
  opacity: 0.03;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 708 199' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M101.12 198.72H0V0H54.72V154.24H104.32L101.12 198.72Z' fill='%23fff'/%3E%3Cpath d='m223.46 198.72h-107.52v-198.72h110.72l-3.2 48.96h-52.8v29.76h45.759v42.24h-45.759v32.96h56l-3.2 44.8z' fill='%23fff'/%3E%3Cpath d='m388.03 198.72h-53.44l-6.08-31.36h-37.76l-6.08 31.36h-50.881l36.481-198.72h81.28l36.48 198.72zm-65.6-68.8-11.2-71.04h-2.24l-11.2 71.04h24.64z' fill='%23fff'/%3E%3Cpath d='m540.69 63.04c0 11.947-1.814 21.867-5.441 29.76-3.626 7.893-9.28 15.04-16.96 21.44l26.56 84.48h-59.199l-19.84-71.68h-7.36v71.68h-53.76v-198.72h74.24c21.333 0 36.906 5.0133 46.719 15.04 10.027 10.027 15.041 26.027 15.041 48zm-73.92 30.4c5.546 0 9.493-1.6 11.84-4.8 2.346-3.2 3.52-8.96 3.52-17.28 0-8.5333-1.174-14.4-3.52-17.6-2.347-3.4133-6.187-5.12-11.52-5.12h-8.64v44.8h8.32z' fill='%23fff'/%3E%3Cpath d='m707.77 198.72h-52.48l-41.279-92.48h-2.56v92.48h-48.641v-198.72h54.081l39.36 95.36h2.559v-95.36h48.96v198.72z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.word-community {
  width: 1449px;
  height: 206px;
  opacity: 0.03;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg viewBox='0 0 1449 206' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m55.68 104.64c0 18.773 1.8133 32.213 5.44 40.32 3.84 7.893 10.027 11.84 18.56 11.84s20.587-2.027 36.16-6.08l8.32 45.12c-16.853 6.187-33.813 9.28-50.88 9.28-25.6 0-44.267-8.427-56-25.28-11.52-17.067-17.28-42.347-17.28-75.84 0-33.707 6.08-59.413 18.24-77.12 12.16-17.92 32-26.88 59.52-26.88 16.213 0 31.68 3.4133 46.4 10.24l-8.64 49.6c-16.64-5.5467-28.267-8.32-34.88-8.32-9.3867 0-15.893 4.16-19.52 12.48-3.6267 8.1067-5.44 21.653-5.44 40.64z' fill='%23fff'/%3E%3Cpath d='m149.49 24c12.373-16 32.533-24 60.48-24s47.893 7.8933 59.84 23.68c12.16 15.787 18.24 41.493 18.24 77.12 0 35.413-6.187 61.653-18.56 78.72s-32.427 25.6-60.16 25.6-47.68-8.427-59.84-25.28-18.24-42.987-18.24-78.4c0-35.627 6.08-61.44 18.24-77.44zm83.52 76.8c0-19.627-1.6-32.853-4.8-39.68-2.987-7.04-9.28-10.56-18.88-10.56-9.387 0-15.467 3.52-18.24 10.56-2.773 6.8267-4.16 19.947-4.16 39.36v7.68c0 20.693 1.493 34.347 4.48 40.96 3.2 6.4 9.493 9.6 18.88 9.6 9.6 0 15.787-3.093 18.56-9.28s4.16-18.987 4.16-38.4v-10.24z' fill='%23fff'/%3E%3Cpath d='m502.16 201.92h-50.24v-103.68h-2.88l-18.88 103.68h-51.52l-17.921-103.68h-3.199v103.68h-49.6l6.72-198.72h72l17.919 107.52h2.561l17.28-107.52h71.04l6.72 198.72z' fill='%23fff'/%3E%3Cpath d='m720.6 201.92h-50.24v-103.68h-2.88l-18.88 103.68h-51.52l-17.92-103.68h-3.2v103.68h-49.6l6.72-198.72h72l17.92 107.52h2.56l17.28-107.52h71.04l6.72 198.72z' fill='%23fff'/%3E%3Cpath d='m802.71 136.64c0 6.613 1.386 11.52 4.159 14.72 2.774 3.2 7.254 4.8 13.44 4.8 6.401 0 10.774-1.493 13.12-4.48 2.56-3.2 3.841-8.32 3.841-15.36v-133.12h55.039v136.32c0 22.827-6.293 39.467-18.88 49.92-12.373 10.453-30.719 15.68-55.039 15.68-24.107 0-42.134-5.12-54.081-15.36-11.733-10.453-17.599-26.987-17.599-49.6v-136.96h56v133.44z' fill='%23fff'/%3E%3Cpath d='m1065.4 201.92h-52.48l-41.277-92.48h-2.56v92.48h-48.64v-198.72h54.08l39.357 95.36h2.56v-95.36h48.96v198.72z' fill='%23fff'/%3E%3Cpath d='m1151.2 201.92h-54.4v-198.72h54.4v198.72z' fill='%23fff'/%3E%3Cpath d='m1298.2 51.52h-37.12v150.4h-54.72v-150.4h-39.36l3.2-48.32h131.2l-3.2 48.32z' fill='%23fff'/%3E%3Cpath d='m1448.3 3.2-47.36 137.28v61.44h-54.4v-61.44l-46.72-137.28h60.16l14.4 64.64h2.56l13.76-64.64h57.6z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

/* FOOTER
-------------------------------------------------------------------------------------------*/
.footer {
  margin-top: 56px;
  padding-bottom: 80px;
}
.footer .mobile-download {
  padding-top: 160px;
  padding-bottom: 160px;
}
.footer .mobile-download h2 {
  font-family: "Passion One", "Helvetica", "Arial", cursive, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 36px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 1020px) {
  .footer .mobile-download h2 {
    font-size: 60px;
    line-height: 52px;
  }
}
.footer .mobile-download .download-buts .button.but-secondary {
  margin-bottom: 20px;
}
.footer footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.footer footer ul {
  margin: 0;
}
.footer footer ul li {
  margin-right: 24px;
}

/* TERMS
-------------------------------------------------------------------------------------------*/
.terms {
  padding: 120px 0;
}

/* ANIMATION
-------------------------------------------------------------------------------------------*/
.word-personal,
.word-coaching {
  opacity: 0;
}

.download-text,
.download-but {
  -webkit-animation-delay: 0.3s;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: slideInDown;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
  -moz-animation-delay: 0.3s;
  -moz-animation-duration: 1s;
  -moz-animation-name: slideInDown;
  -moz-animation-fill-mode: both;
  -moz-animation-timing-function: ease;
  -o-animation-delay: 0.3s;
  -o-animation-duration: 1s;
  -o-animation-name: slideInDown;
  -o-animation-fill-mode: both;
  -o-animation-timing-function: ease;
  animation-delay: 0.3s;
  animation-duration: 1s;
  animation-name: slideInDown;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

.in-view.word-personal, .in-view.word-coaching {
  -webkit-animation-delay: 0.3s;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-name: fadeIn;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
  -moz-animation-delay: 0.3s;
  -moz-animation-duration: 0.6s;
  -moz-animation-name: fadeIn;
  -moz-animation-fill-mode: both;
  -moz-animation-timing-function: ease;
  -o-animation-delay: 0.3s;
  -o-animation-duration: 0.6s;
  -o-animation-name: fadeIn;
  -o-animation-fill-mode: both;
  -o-animation-timing-function: ease;
  animation-delay: 0.3s;
  animation-duration: 0.6s;
  animation-name: fadeIn;
  animation-fill-mode: both;
  animation-timing-function: ease;
}

/*# sourceMappingURL=desktop.css.map */
